body { 
background-color: #fff4e6;
color: Crimson;
font-family: arial, helvetica, sans-serif;
}
/* hmh 2018-11-6 I've changed styles for h1-h6 and changed the background colors for a more appealing look */
/* hmh 2018-11-12 I've added padding and margins to my headings and paragraphs and centered my title */

ul {
    list-style-type: circle; color: Crimson;
}
h1 {
    background-color: Lightgray; color: Darkred; padding: 50px; margin: 50px; text-align: center; border: 1px solid #5D6063
}

h2 {
    background-color: Lightgray; color: Darkred; padding: 20px; border: 1px solid #5D6063
}
h3  {
    background-color: Lightgray; color: Darkred; border: 1px solid #5D6063
}
h4  {
    background-color: Lightgray; color: Darkred; border: 1px solid #5D6063
}
h5  {
    background-color: Lightgray; color: Darkred; border: 1px solid #5D6063
}
h6  {
    background-color: Lightgray; color: Darkred; border: 1px solid #5D6063
}
p {
    color: Crimson; 
    
}

a   {
    text-align: center; text-indent: 50px;  
}
.title {
    background-color: White;
}
.hobbies {
    color: black; 
}
.obj {
    color: black; padding: 0px; text-align: center; margin: 0px; font-size: 20px; 
}
.ed {
    color: black; padding: 0px;text-align: center; margin: 0px; font-size: 20px; 
}
.ach {
    color: black;padding: 0px;text-align: center; margin: 0px; font-size: 20px; 
}
.empl {
    color: black; padding: 0px;text-align: center; margin: 0px; font-size: 20px; 
}
.lang {
    color: black; padding: 0px;text-align: center; margin: 0px; font-size: 20px; 
}
.skills {
    color: black; padding: 0px;text-align: center; margin: 0px; font-size: 20px; 
}
/* 
#puppy {
    width: 200px; height: 150px; margin: auto; display: flex;
}
#fashion {
    width: 200px; height: 150px; margin: auto; display: flex;
}
 */
.bar {
  background-color: red;
  height: 21px;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}
.bar text {
  color: black;
}
.bar:hover,
.bar:focus {
  background-color: black;
}
.bar:hover text,
.bar:focus text {
  background-color: red;
}
.images-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image {
    height: 200px;
    width: 250px;
}
/* I changed all my photos to flex and changed their vertical alignment to horizontal, and centered them */
/* 
.images-container {
    display: flex; flex-direction: row; align-items: center; height: 150px;

.images-container {
    display: flex; flex-direction: row; align-items: center; height: 150px;
}
.rome {
    display: flex; flex-direction: row; align-items: center; height: 150px;
}
.paris {
    display: flex; flex-direction: row; align-items: center; height: 150px;
}
.arc {
    display: flex; flex-direction: row; align-items: center; height: 150px; 
*/