body { 
background-color: #ffbb99;
color: Brown;
font-family: arial, helvetica, sans-serif;
}
/* My comment */

ul {
    list-style-type: circle;
}
h1 {
    background-color: Khaki; color: Darkred;
}
h2 {
    background-color: Khaki; color: Darkred;
}
p {
    background-color: Khaki; color: Crimson;
    
}
